* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  min-height: 100vh;
  background: #F4F7FC; /* 777*/
  font: 500 1.2rem Poppins;

}
main {
  display: grid;
  grid-template-areas: 
    "sidebar sensor sensor"
    "sidebar planta planta"
    "sidebar planta planta";
  grid-template-columns: 1fr 3fr 1fr;

  justify-items: center;
  align-items: center;
}

header {
  grid-area: sensor;
}

article {
  grid-area: planta;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #000000; /*3e0748*/
  transition: 0.5s;
  overflow-y: hidden;

  grid-area: sidebar;
}

.navigation:hover,
.navigation.active {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li:hover {
  background: #35CE8D;
}

.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #FFF
  
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa { 
  font-size: 24px;
  font-family: fontAwesome;
}


.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  color: #FFF;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #000000;
  cursor: pointer;
}

.toggle:active {
  background: #35CE8D;
}

.toggle:before {
  content: '\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #FFF

}

.toggle.active:before {
  content: '\F00D';

}





@media (max-width: 768px) {
  .navigation {
    left: -60px;
    width: 60px;
  }
  .navigation.active {
    left: 0px;
    width: 100%;
  }
}
