* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  min-height: 100vh;
  color: #777;
  font: 500 1.2rem Poppins;

}

.navigation {
  position: fixed;
  width: 60px;
  height: 100%;
  background: #3e0748;
  transition: 0.5s;
  overflow: hidden;
}

.navigation:hover,
.navigation.active {
  width: 300px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li:hover {
  background: #35CE8D;
}

.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #FFF
  
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa { 
  font-size: 24px;
  font-family: fontAwesome;
}


.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  color: #FFF;
}

.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #330748;
  cursor: pointer;
}

.toggle:active {
  background: #35CE8D;
}

.toggle:before {
  content: '\f0c9';
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color: #FFF

}

.toggle.active:before {
  content: '\F00D';

}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navigation.active .layout {
  left: 150px;
  width: 150px;
}


@media (max-width: 768px) {
  .navigation {
    left: -60px;
  }
  .navigation.active {
    left: 0px;
    width: 100%;
  }
}
