doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/public/css/pure/pure-min.css')
    link(rel='stylesheet' href='/public/css/sideMenu.css')
  body
    #layout
      // Menu toggle
      a#menuLink.menu-link(href="#menu")
        // Hamburger icon
        span
      // - Adicionar isso pradeixar dinamico   .menu-item-divided.pure-menu-selected
      #menu
        .pure-menu 
          a.pure-menu-heading(href="#") iPlant
          include partials/menu.pug
      #main
        block content

    script(src="/public/js/ui.js")
