doctype html
html(lang="pt-br")
  head
    meta(charset="utf-8")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    include partials/imports.pug

  body
    main
      aside.navigation
         ul
          include partials/menu.pug
      article
        block content

      .toggle(onclick='toggleMenu()')
    script(type='text/javascript' src="/public/js/menu.js")      
    