ul.pure-menu-list
  li.pure-menu-item
      a.pure-menu-link(href="/") Home
  li.pure-menu-item
    a.pure-menu-link(href="/plantas") Plantas 
  li.pure-menu-item
    a.pure-menu-link(href="/sensores") Sensores
  li.pure-menu-item
    a.pure-menu-link(href="#") Histórico