li
  a(href='/')
    span.icon
      i.fa.fa-home(aria-hidden='true')
    span.title Home
li
  a(href='/plantas')
    span.icon
      i.fa.fa-leaf(aria-hidden='true')
    span.title Plantas
li
  a(href='/sensores')
    span.icon
      i.fa.fa-microchip(aria-hidden='true')
    span.title Sensores
li
  a(href='#')
    span.icon
      i.fa.fa-history(aria-hidden='true')
    span.title Histórico
